.head {
  background-color: rgb(140, 250, 240);
  text-align: center;
}
.block {
  width: 50%;
  text-align: center;
  margin: 30px auto;
}
.post1 {
  background-color: rgb(115, 155, 200);
}
.post2 {
  background-color: rgb(100, 200, 200);
}
.post3 {
  background-color: rgb(85, 200, 250);
}
.box {
  padding: 10px;
}
body {
  font-family: "Amatic SC", cursive;
}
