.head {
  background-color: aquamarine;
  text-align: center;
  font
}
.block{
  width: 50%;
  text-align: center;
  margin-left: 25%;
}
.post1{
  background-color: cadetblue;
}
.post2{
  background-color: darkcyan;
}
.post3{
  background-color: lightseagreen;
}
.background{
  padding: 10px;
}